@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nanum Pen Script", cursive;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;

  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #64c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* HEADER */
header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 35px;
  text-align: center;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Nanum Pen Script";
}

/* NoteList */
.NoteList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;

  display: flex;
  justify-content: space-between;
}

.NoteList .menu_wrapper .right_col {
  flex-grow: 1;
}

.NoteList .menu_wrapper .right_col button {
  width: 100%;
}

.NoteList .ControlMenu {
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  cursor: pointer;
  font-family: "Nanum Pen Script";
  font-size: 18px;
}

/* NoteItem */
.NoteItem {
  width: calc(50% - 20px);
  margin: 10px; /* 카드 사이의 간격을 조절합니다 */
  margin-bottom: 20px;
  box-sizing: border-box; /* 요소의 너비와 높이에 경계선과 안쪽 여백을 포함하도록 설정합니다 */
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #e0e0e0; /* 카드 테두리 스타일 */
  box-shadow: 0px 0px 5px #dcdcdc;
  border-radius: 10px; /* 카드 테두리 둥글게 만듭니다 */
  display: inline-block; /* 인라인 블록 요소로 설정하여 한 줄에 두 개의 카드가 올 수 있도록 합니다 */
  height: 300px;
  cursor: pointer;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
}

.note_date {
  font-family: "Yeon Sung";
  font-size: 15px;
  color: #555;
  margin-bottom: 5px;
}

.note_content_preview {
  padding-top: 5px;
  font-family: "Yeon Sung";
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
}

/* NEW */
.input_box {
  margin-top: 30px;
}
.input_box textarea {
  font-family: "Yeon Sung";
  font-size: 22px;
  box-sizing: border-box;
  width: 100%;
  min-height: 580px;
  resize: vertical;
  border-radius: 5px;
  border-color: rgb(190, 190, 190);
  padding: 20px;
  outline: none;
}

.control_box {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NOTE */
.NotePage .note_content {
  background-color: #ececec;
  border-radius: 10px;
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  margin-top: 30px;
  min-height: 580px;
}

.NotePage .note_content p {
  padding: 20px;
  font-size: 20px;
  font-family: "Yeon Sung";
  line-height: 1.8;
}
